<!DOCTYPE html>
<html>
<head>
    <title>Nova Venda</title>
    <script>
        async function buscarProduto() {
            let termo = document.getElementById("busca").value;
            let resp = await fetch(`/buscar-produto?q=${termo}`);
            let dados = await resp.json();

            if (dados.erro) {
                alert("Produto não encontrado");
            } else {
                let tabela = document.getElementById("itens");
                let linha = tabela.insertRow();

                linha.innerHTML = `
                    <td>${dados.id}<input type="hidden" name="produto_id[]" value="${dados.id}"></td>
                    <td>${dados.nome}</td>
                    <td>${dados.categoria}</td>
                    <td>${dados.tamanho}</td>
                    <td>${dados.cor}</td>
                    <td>${dados.quantidade}</td>
                    <td><input type="number" name="quantidade[]" min="1"></td>
                    <td><input type="text" name="preco_unitario[]" value="${dados.preco}"></td>
                `;
            }
        }
    </script>
</head>
<body>
    <h1>Nova Venda</h1>
    <form method="post">
        <input type="text" id="busca" placeholder="Digite ID ou nome do produto">
        <button type="button" onclick="buscarProduto()">Adicionar Produto</button>

        <table border="1" id="itens" style="margin-top:20px; width:100%;">
            <tr>
                <th>ID</th><th>Nome</th><th>Categoria</th><th>Tamanho</th><th>Cor</th><th>Estoque</th><th>Quantidade</th><th>Preço unitário</th>
            </tr>
        </table>

        <div style="margin-top:20px; text-align:center;">
            <input type="submit" value="Finalizar Venda">
        </div>
    </form>
    <div style="margin-top:20px; text-align:center;">
        <a href="{{ url_for('listar_produtos') }}" 
            style="padding: 10px 20px; background-color: #f44336; color: white; text-decoration: none; border-radius: 5px;">
            Voltar para Produtos
        </a>
    </div>
</body>
</html>