<!DOCTYPE html>
<html>
<head>
    <title>Lista de Produtos</title>
</head>
<body>
    <h1>Lista de Produtos</h1>
    <a href="/cadastrar">[Cadastrar novo produto]</a>
    <ul>
        {% for p in produtos %}
            <li>
                ID: {{ p.id }} - {{ p.nome }} -- {{ p.categoria }} - {{ p.tamanho }} - {{ p.cor }} - {{ p.quantidade }} - R$ {{ p.preco }}
                <a href="/editar/{{ p.id }}">[Editar]</a>
                <a href="/excluir/{{ p.id }}">[Excluir]</a>
            </li>
        {% endfor %}
    </ul>
    <div style="text-algin: center; margin-top: 30px:">
        <a href="{{ url_for('nova_venda') }}" style="padding: 10px 20px; background-color: #4CAF50; color: white; text-decoration: none; border-radius: 5px;">
            Vender
        </a>
    </div>

    <div style="text-align: center; margin-top: 15px:">
        <a href="{{ url_for('relatorio_vendas') }}"
        style="padding: 10px 20px; background-color: #2196F3; color: white; text-decoration: none; border-radius: 5px;">
        Relatório de Vendas
    </a>
    </div>
</body>
</html>